@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Użytkownicy mają hasło "Qwerty1!"</p>
    <p>User: jeden@x.com, dwa@x.com itd. do piec oraz kierownik@x.com i elektron@x.com</p>
    <p>Odkomentuj "await builder.Services.SeedData();" żeby dodać użytkowników i role</p>
</div>
